/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   width: 85%;
   padding-top: 10px;
   margin: auto;
 }

 .topNav{
   background: #fb651f;
   height: 23px;
   padding-top: 1px;

   img {
    border: 1px solid white;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 1px;
    margin-bottom: 1px;
   }

   h4 {
    display: inline-block;
    color: black;
    font-size: 10pt;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    font-weight: bold;
   }
   .nav-item-list {
    margin-left: 5px;
    display: inline-block;
   }
   .nav-item {
     color: black;
     margin-left: 2px;
     font-size: 13px;
   }
   .nav-item:hover {
    text-decoration: none;
  }
  span {
    font-size: 10px;
  }
 }

 .list-container {
  background: #f6f6ef;

  h1 {
    margin: 0;
    display: inline-block;
    font-size: 10pt;
    color: #828282;
    font-weight: normal;
    margin: 8px;
  }
  h2 {
    margin: 0;
    display: inline-block;
    color: black;
    font-size: 10pt;
    text-decoration: none;
    font-weight: normal;
  }
  h3 {
    margin: 0;
    display: inline-block;
    font-size: 8pt;
    color: #828282;
    font-weight: normal;
  }
  h4 {
    margin: 0;
    font-size: 7pt;
    color: #828282;
    font-weight: normal;
    position: relative;
    top: -5px;
    left: 31px;
  }
 }